{% extends "base_auth.html" %}
{% block content %}

<h2>Login</h2>
<form method="post" novalidate>
  {% csrf_token %}
  <div class="input-group mb-1">

    <div class="form-floating mb-3">
      <input type="text" name="username" id="loginUsername" value="{{ form.username.value|default_if_none:'' }}"
        class="form-control" placeholder="Username">
      <label for="loginUsername">Username</label>
      {% if form.username.errors %}
      <div class="invalid-feedback">
        {{ form.username.errors.0 }}
      </div>
      {% endif %}
    </div>
    <div class="input-group-text"><span class="bi bi-envelope"></span></div>
  </div>
  {% if form.username.errors %}
  <div class="text-danger small">{{ form.username.errors.0 }}</div>
  {% endif %}

  <div class="input-group mb-1">
    <div class="form-floating">
      <input type="password" name="password" id="loginPassword" value="{{ form.password.value|default_if_none:'' }}"
        class="form-control" placeholder="Password">
      <label for="loginPassword">Password</label>
      {% if form.password.errors %}
      <div class="invalid-feedback">
        {{ form.password.errors.0 }}
      </div>
      {% endif %}
      </div>
    <div class="input-group-text"><span class="bi bi-lock-fill"></span></div>
  </div>
  {% if form.password.errors %}
  <div class="text-danger small">{{ form.password.errors.0 }}</div>
  {% endif %}

  <input type="hidden" name="next" value="{{ next }}">

  <div class="d-grid gap-2 mt-3">
    <button type="submit" class="btn btn-primary">Sign In</button>
  </div>
</form>

{% endblock %}